.main-logo {
  position: relative;
  padding: 0 30px;
  text-align: center;
  width: auto;
  font-family: "Fjalla One", sans-serif;
  font-size: 1.15em;
}

.main-logo h1 {
  color: white;
}

.nav-bar-container {
  height: 3em;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-width: 560px;
  justify-content: space-around;
  box-sizing: border-box;
  margin: 0;
}
