.NavigationItems {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 1px;
  margin: 20px;
}

.content-navigation {
  margin-left: auto;
  margin-right: auto;
  padding: 10.5px 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
