.login-form {
  position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.login-form-button {
  width: 60%;
  margin-left: 20%;
}

h1 {
  text-align: center;
}

.username, .password, .register, .botinvite {
  width: 60%;
  margin-left: 20%;
}

.botinvite {
  padding-top: 5px;
}

body {
  background-image: url("clouds.jpg")
}