.NavigationItem {
    margin: 0;
    top:0;
    box-sizing: border-box;
    display: block;
    width: 100px;
    text-align: center;
    height:3em;
    border-left: 1px groove;
}
.NavigationItem :active,
.NavigationItem :hover{
    color:black;
    font-weight: bold;
    background-color: darkgray;
    cursor: pointer;
}

.NavigationItem:last-child{
    border-right: 1px groove;

}

.NavigationItem-active {
    text-align: center;
    vertical-align: middle;
    color: #8f6812;
    text-decoration: none;
    width: 100%;
    height:100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem-active :hover,
.NavigationItem-active :active,
.NavigationItem-active ::selection{
    background-color: darkgrey;
    color:black
}
