.NavigationItem {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  display: block;
  text-align: center;
  height: 3em;
}
.NavigationItem :active,
.NavigationItem :hover {
  font-weight: bold;
  background-color: #2f3136;
  cursor: pointer;
}

.NavigationItem-active {
  margin: 0;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
  color: #aaa;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 10px;
}

.NavigationItem-active :hover,
.NavigationItem-active :active,
.NavigationItem-active ::selection {
  background-color: #2f3136;
}

.NavigationItemActive {
  color: white;
  background-color: #7289da;
  cursor: pointer;
}
