/*Main layout of app*/
.App {
  top:0;
  right:0;
  left:0;
  bottom:0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 3.7em auto 3em;
  grid-template-areas:
          'header'
          'content'
          'footer';
}

.content {
  grid-area: content;
  padding: 2em;
}

.header {
  grid-area: header;
  top: 3%;
  left: 25%;
  position: fixed;
}

.footer {
  grid-area: footer;
  background-color: white;
  border-top: 1px solid;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:3em;
}

a {
  text-decoration: none !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}